.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    color: black;
    background-color: white;
    border: black solid 2px;
    border-radius: 0.5em;
    box-shadow: 5px 5px #88888833;

    font-size: medium;
}

.custom-button:hover {
    background-color: lightgrey;
}

.inverted {
    color: white;
    background-color: black;
}

.inverted:hover {
    background-color: grey;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.2s;
}

.disabled:hover {
    background-color: white;
}