.custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    color: black;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 0.5rem;
    box-shadow: 5px 5px #88888833;
    font-size: medium;
}

.custom:hover,
.inverted:hover {
    border: 2px solid black;
}

.inverted {
    border: 2px solid lightgrey;
    background-color: rgb(235, 233, 233);
    color: black;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.disabled:hover {
    border: 2px solid lightgrey;
}