.container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.item {
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.item:hover {
    background-color: lightgray;
    cursor: pointer;
}