.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  background-color: white;
  border-radius: 5%;
}

.context {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.imagePlace {
  background-color: rebeccapurple;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
}